In [1]:
#This notebook will import a touchstone file and display insertion loss graph.
import pandas as pd

# Set the url of the raw .s4p file
url = "https://raw.githubusercontent.com/jayarerita/signal_integrity/master/cable_data_1.s4p"
!wget -O data1.s4p https://raw.githubusercontent.com/jayarerita/signal_integrity/master/cable_data_1.s4p

# This section here is used to read the first 100 rows of the file above as text and 
# parse through each line to find the "#" symbol signifying the start of the data. 
# This can be used to set the number of "skip rows" for read_csv below. We can also pull the information from this
# line to show what the units and format of the data are. For example if row number 24 is "#Hz S dB R 50" then 
# we would set skip_rows = 24, SI_units = "dB", number_type = "real", tester_impedance = "50"

with open("data1.s4p", "r") as file1:
    # Search through the first 100 rows of the file
    for i in range(0, 100):
        # Assign the entire row to a string variable for slicing
        one_line = file1.readline()
        # Search the first character in each successive line for the "#" symbol indicating the key row
        if (one_line[0] == "#"):
            # Set the skip row number for use in the read_csv method later on
            skip_rows = i
            # Set a string variable to the skip row containing the units, number type, and impedance for later use
            key_row = one_line
        
print('The firtst ' + str(skip_rows) + ' rows of the file contain header info and will be skipped.')
print('The s-parameter data is in the format ' + key_row)

--2019-03-20 21:20:21--  https://raw.githubusercontent.com/jayarerita/signal_integrity/master/cable_data_1.s4p
Resolving raw.githubusercontent.com (raw.githubusercontent.com)...

151.101.248.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.248.133|:443...

connected.

HTTP request sent, awaiting response...

200 OK
Length: 1426153 (1.4M) [text/plain]
Saving to: ‘data1.s4p’

data1.s4p             0%[                    ]       0  --.-KB/s

data1.s4p            46%[========>           ] 647.18K  3.15MB/s

data1.s4p           100%[===================>]   1.36M  4.26MB/s    in 0.3s

2019-03-20 21:20:22 (4.26 MB/s) - ‘data1.s4p’ saved [1426153/1426153]

The firtst 20 rows of the file contain header info and will be skipped.
The s-parameter data is in the format # Hz S  dB   R 50

In [2]:
# Read in the space delimited file, skipping the rows of header information. The skip_rows is + 1 because of indexing.
df_raw = pd.read_csv(url, skiprows = skip_rows + 1, delim_whitespace = True, header = None)
# Store the shape of the dataframe for cleaning below
shape = df_raw.shape
df_raw.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.000000e+07</td>
      <td>-18.596588</td>
      <td>25.395187</td>
      <td>-0.829325</td>
      <td>-18.962502</td>
      <td>-20.599869</td>
      <td>20.452127</td>
      <td>-22.130384</td>
      <td>167.08244</td>
    </tr>
    <tr>
      <th>1</th>
      <td>-8.246641e-01</td>
      <td>-18.926477</td>
      <td>-19.969500</td>
      <td>14.719769</td>
      <td>-22.138124</td>
      <td>167.045780</td>
      <td>-21.730087</td>
      <td>6.246666</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>-2.057517e+01</td>
      <td>20.198177</td>
      <td>-22.130781</td>
      <td>166.885910</td>
      <td>-18.240007</td>
      <td>27.106436</td>
      <td>-0.820171</td>
      <td>-18.926466</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-2.211367e+01</td>
      <td>167.374400</td>
      <td>-21.719362</td>
      <td>6.261957</td>
      <td>-0.831857</td>
      <td>-18.954756</td>
      <td>-19.607506</td>
      <td>17.418802</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2.000000e+07</td>
      <td>-15.933050</td>
      <td>23.195728</td>
      <td>-0.907085</td>
      <td>-36.680450</td>
      <td>-18.317211</td>
      <td>22.228508</td>
      <td>-22.045498</td>
      <td>148.03929</td>
    </tr>
  </tbody>
</table>
</div>

The s4p data comes in an odd format. Each fourth line has 9 elements while the other 3 have 8.  We want to move the 8 elements on line 2,3, and 4 for each group to line up with elements 2-9 in line 1. The empty space left by this move will be filled by null values.

In the loop below we will parse through and reassign every element.

In [3]:
df_clean = df_raw
# Parse through each row
for row in range(shape[0]):
    # Parse through each column
    for col in range(shape[1]):
        # Set a boolean value to True if it is the 1st, 5th, 9th, etc. line with 9 elements.
        fourth_row = ((row + 1) % 4 == 1)
        # Set a boolean value to True if it is the 1st column.
        first_col = (col == 0)
        # print('row: ' + str(row) + " col: " + str(col) + " fourth_row: " + str(fourth_row) + ' first_col: ' + str(first_col))
        if (fourth_row and first_col):
            df_clean.iloc[row, col] = df_raw.iloc[row, col]
            freq = df_raw.iloc[row,0]
            #print('1')
        elif (first_col):
            df_clean.iloc[row,0] = freq
            #print('2')
        elif (fourth_row):
            # do nothing
            df_clean.iloc[row,col] = df_raw.iloc[row, col]
            #print('3')
        else:
            df_clean.iloc[row,col] = df_raw.iloc[row, col - 1]
            #print('4')

In [85]:
df_clean.columns = ['0', '1', '2', '3', '4', '5', '6', '7', '8']

df_clean.head(5)

,0,1,2,3,4,5,6,7,8
0,10000000.0,-1.859659e+01,2.539519e+01,-8.293254e-01,-1.896250e+01,-2.059987e+01,2.045213e+01,-2.213038e+01,1.670824e+02
1,10000000.0,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07
2,10000000.0,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07
3,10000000.0,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07,1.000000e+07
4,20000000.0,-1.593305e+01,2.319573e+01,-9.070854e-01,-3.668045e+01,-1.831721e+01,2.222851e+01,-2.204550e+01,1.480393e+02

In [81]:
# Drop the imaginary columns, 2, 4, 6, 8
df_clean.drop(['2', '4'], axis = 1)

# Preview the clean data
df_clean.head(5)

KeyError: "['4'] not found in axis"